.name-container {
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  min-height: 60%;
  width: 60%;
  position: absolute;
  z-index: 99;
  background-color: white;
  border: solid 4px black;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

.name-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name-field {
  height: 50px;
  font-size: 1.4rem;
}

.submit-btn {
  height: 50px;
  width: 200px;
  align-self: center;
  border: solid 2px black;
  font-size: 1.4rem;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn:hover {
  filter: brightness(0.9);
}

.submit-btn:active {
  filter: brightness(0.8);
}

.time-container {
  display: flex;
  justify-self: center;
  align-self: end;
  font-size: 2rem;
}