.dropdown {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 200px;
  width: 150px;
  border: solid 2px black;
  background-color: white;
  position: absolute;
}

.option {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.option:hover {
  background-color: rgb(214, 212, 212);
  cursor: pointer;
}

.option:active {
  background-color: rgb(185, 185, 185);
}

.icon {
  height: 50px;
  width: auto;
}