/* NEED TO MAKE THE BACKDROP DARK/BLURRY WHILE MODAL IS OPEN */

.modal-container {
  display: grid;
  position: absolute;
  z-index: 20;
  background-color: white;
  height: 50%;
  width: 50%;
  margin-top: -200px;
  border: solid 5px black;
  border-radius: 20px;
  padding: 40px;
}

.modal-icon {
  height: 100px;
  width: 100px;
}

.character {
  display: flex;
  align-items: center;
  gap: 50px;
  font-weight: bold;
  font-size: 24px;
}

.prompt {
  justify-self: center;
  font-size: 32px;
  font-weight: bold;
}

.modal-btn {
  width: 200px;
  justify-self: center;
  border: solid 2px black;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.modal-btn:hover {
  filter: brightness(0.9);
}

.modal-btn:active {
  filter: brightness(0.8);
}